/* Importar la fuente Roboto de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Establecer el fondo y la fuente para todo el documento */
body {
  background-color: #821E6E; /* Color de fondo violeta */
  font-family: 'Roboto', sans-serif; /* Fuente Roboto */
  color: white; /* Color de texto blanco, o el que prefieras */
}

/* Estilos para la imagen de cabecera */
.header-image {
  width: 200px; /* o el tamaño que prefieras */
  height: auto; /* esto mantendrá la proporción de la imagen */
  display: block;
  background-color: white; /* fondo blanco detrás de la imagen */
  padding: 10px; /* espacio alrededor de la imagen para que el fondo blanco se vea como un borde */
}

.combinacion { background-color: #7a4f9e; padding: 10px; margin-bottom: 10px; color: white; }
.combinacion:nth-child(even) { background-color: #9e7ac0; }

#combinaciones {
    margin-top: 20px; /* Ajusta el valor según necesites */
    margin-bottom: 20px; /* Ajusta el valor según necesites */
}

/* Estilos adicionales para tus checkboxes podrían ir aquí */
.checkbox-cursada,
.checkbox-aprobada {
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

/* Estilos para deshabilitar visualmente los checkboxes */
.checkbox-cursada:disabled,
.checkbox-aprobada:disabled {
    cursor: not-allowed; /* Cambia el cursor para indicar que no es clickeable */
    opacity: 0.6; /* Añade transparencia para indicar estado deshabilitado */
}

.navigation-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo */
    color: #000; /* Color del texto */
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px; /* Esquinas redondeadas */
}

.navigation-buttons a.active {
    background-color: #e0e0e0; /* Fondo más oscuro para el botón activo */
}