/* Importar la fuente Roboto de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Establecer el fondo y la fuente para todo el documento */
body {
  background-color: #821E6E; /* Color de fondo violeta */
  font-family: 'Roboto', sans-serif; /* Fuente Roboto */
  color: white; /* Color de texto blanco, o el que prefieras */
}

/* Estilos para la imagen de cabecera */
.header-image {
  width: 200px; /* o el tama침o que prefieras */
  height: auto; /* esto mantendr치 la proporci칩n de la imagen */
  display: block;
  background-color: white; /* fondo blanco detr치s de la imagen */
  padding: 10px; /* espacio alrededor de la imagen para que el fondo blanco se vea como un borde */
}
